.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    color: white;
    background-color: teal;
    border: none;
    margin: 0 0 0 20px;
    padding: 10px;
    transition: 0.3s;
    scale: 0.8;
}

@media(max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.buttons__button:hover {
    background-color: hsl(180, 100%, 38%);
}

.buttons__button:active {
    background-color: hsl(180, 100%, 50%);
}

.buttons__button:disabled {
    background-color: transparent;
    color: hsl(0, 0%, 73%);
}